/* CONTENT INTERFACE.CSS
 * - cover styles
 * - foot note styles
 * - imprint styles (contentinfo)
 * - plugin: paragraphlinks
 * - plugin: reading mode toggles
 * - plugin: iframe wrapper
 * - plugin: hype wrapper
 * - plugin: modal (for contentinfo & paragraph-meta)
 * - UI-wrapper
 *     - plugin: UI-grow
 * - browser warning (modernizr)
 * - gumroad fix
 * 
 * INTERFACE FONT
 *  Josefin Sans
 * 
 * (c) agnostic HTML5 design: pixelcraftbooks
 * free to use under the MIT license
 * 
 * interface.css accompanies the class-less layout.css
 * styles elements outside of the semantic flow (that need classes to be targeted) like UI-elements
 * it provides styling to dynamic (e.g. JavaScript-generated) classes
 */

/*
 * ========= Cover Style =========
 * style the hero banner at the top of the page
 */
[role="banner"] {
  overflow: hidden;
}
[role="banner"] h1,
[role="banner"] h2,
[role="banner"] h3,
[role="banner"] h4 {
  margin-top: 1em;
}
.is-title {
  /* is an h1 */
  position: absolute;
  top: 0%;
  padding: 0;
  margin: 0;
  color: white;
  background-color: rgba(200,200,200,.6);
  width: 100%;
}
  .is-title::before {
    content: "a pixelcraft reading experience";
    display: block;
    color: #808080; /* old IE */
    color: rgba(128,128,128,1);
    font-size: calc(1em * 0.3);
    line-height: calc(1em * 2);
    font-variant: small-caps;
    font-style: normal;
    letter-spacing: 0.2em;
    text-shadow: none;
    margin-bottom: 1em;
  }
.is-author {
  /* is an h2 */
  position: absolute;
  bottom: 18%;
  width: 100%;
  font-style: normal;
  font-size: 1.6em;
  line-height: 1.875em;
  padding: 0;
  margin: 0;
  color: white;
  letter-spacing: 0.1em;
}
  .is-author::before {
    content: "by";
    display: block;
    font-style: italic;
    font-weight: 300;
    font-variant: normal;
    font-size: calc(1em * 0.6);
    letter-spacing: 0;
    text-shadow: none;
    line-height: 1em;
    margin: 0 auto;
  }

/*
 * ========= Markdown-Style Foot Notes =========
 * style foot notes for the classes that are provided by Markdown-HTML-generation
 * styled thusly the markdown-style-footnotes play nice with layout.css
 */
.footnotes {
  border-top: 1px #808080 solid; /* old IE */
  border-top: 1px rgba(128,128,128,1) solid;
  padding-top: calc(1.5em - 1px);
  margin-top: 3em;
}
  .footnotes::before {
    content: "notes:";
    display: block;
    font-family: "Josefin Sans", "Josefin Sans Fallback", Sans-Serif;
    font-weight: 300;
    text-align: center;
  }
.footnotes ol,
.footnotes li,
.footnotes p {
  margin: 0;
  text-indent: 0;
}

/*
 * ========= Contentinfo style (Imprint) =========
 * style the meta-information (resides in modal overlay)
 */
[role="contentinfo"] {
  text-align: justify;
  color: #050505; /* old IE */
  color: rgba(5,5,5,1);
  padding: 0.5em;
  padding-bottom: 3em;
  margin: 0;
  width: 100%;
}
[role="contentinfo"] ul,
[role="contentinfo"] p {
  text-indent: 0;
}
.license-attribution {
  text-align: center;
}
.license-owner{
  font-weight: 700;
}
[role="contentinfo"] ul li::before {
  content: none; /* disable standard list behavior from style.css */
}
  /* keep contentinfo centered */
  @media screen and (min-width: 73em) {
   [role="contentinfo"] h4,
   [role="contentinfo"] p,
   [role="contentinfo"] ul,
   [role="contentinfo"] ol {
      width: calc(100% / 16 * 10);
      margin-left: calc(100% / 16 * 3);
    }
  }
  
/*
 * ========= Plugin: jQuery.paragraphLinks =========
 * style the paragraph level comments (generated by JS)
 */
.p-meta-trigger[role="button"] {
  position: absolute;
  right: 0;
  width: 4em;
  text-align: center;
  margin: 0;
  margin-top: -2em;
  z-index: 100;
  display: none;
}
  @media screen and (min-width: 73em) {
   .p-meta-trigger[role="button"] {
      width: calc(100% / 16 * 3);
      right: calc(100% / 16);
    }
  }
  .p-meta-trigger[role="button"] + p {
    text-indent: 1.5em; /*fix indentation after DOM insertion */
  }
  .p-meta-trigger-active::after {
    content: "âž";
  }
.p-meta-container {
  color: black;
  text-align: justify;
  text-indent: 0;
  padding-top: 1em;
  padding-bottom: 3em;
  padding-left: calc(100% / 16);
  padding-right: calc(100% / 16);
  margin: 0;
}
  @media screen and (min-width: 50em) {
   .p-meta-container {
      padding-left: calc(100% / 16 * 2);
      padding-right: calc(100% / 16 * 2);
    }
  }
  @media screen and (min-width: 61em) {
   .p-meta-container {
      padding-left: calc(100% / 16 * 3);
      padding-right: calc(100% / 16 * 3);
    }
  }
  .p-meta-container [role="button"] {
    display: block;
    color: #000;
    font-family: "Josefin Sans", "Josefin Sans Fallback", Sans-Serif;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: .6em 1em .4em 1em;
    margin: 1.5em auto;
    border: 1px solid rgba(255,255,255,.6);
    border-radius: 0.2em;
    background-color: rgba(240,240,240,.8);
    box-shadow: 0 0 8px rgba(255,255,255,.5), 0 0 5px rgba(20,20,20,.6);
    cursor: pointer;
    text-align: center;
  }
  .p-meta-container a:hover {
    text-decoration: none; /* remove styling from link-buttons */
  }
.p-meta-permalink {
  display: block;
  padding: .5em 1em;
  font-size: calc(1em / 3 * 2);
  line-height: calc(1.25em / 4 * 5);
  margin-top: calc(1.25em / 4 * 2);
  margin-bottom: calc(1.25em / 4 * 2);
  border: 1px solid  #ccc; /* old IE */
  border: 1px solid  rgba(204,204,204,1);
  border-radius: .2em;
  background-color: #fafafa; /* old IE */
  background-color: rgba(250,250,250,1);
  -webkit-box-shadow: inset 0 1px 2px #DDD, 0 1px 0 #FFF;
      -moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
          box-shadow: inset 0 1px 2px #DDD, 0 1px 0 #FFF;
}
.p-meta-commentslist {
  list-style-type: none;
  list-style-position: outside;
}
.comment-author {
  font-weight: 700;
}

/*
 * ========= Plugin: Reading Mode Toggles =========
 * style switch on click events
 */
.is-night {
  background-color: black;
  color: #fafafa;
}
.is-bigtext {
  font-size: 200%;
}

/*
* ========= Plugin: iframe Wrapper =========
* wrap all iframes into a container
* make the containers play nice with the responsive style
*/
.iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  max-width: 55em;
  height: 0;
  overflow: hidden;
}
  main > article > .iframe-container {
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
  @media screen and (min-width: 55em) {	
    main > article > .iframe-container {	
      margin-top: 3em;
      margin-bottom: 3em;
      padding-bottom: 28em;
    }
  }
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
 * ========= Plugin: Hype Wrapper =========
 * wrap all Hype-generated divs (except the UI) into a container
 * make the Hype containers play nice with the responsive style
 */
.hype-container {
  width: 100%;
  height: 60vh;
  padding: 0;
  margin:0;
  clear: both;
}
main > article > .hype-container {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
  @media screen and (min-width: 55em) {	
    main > article > .hype-container {	
      margin-top: 3em;
      margin-bottom: 3em;
      height: 70vh;
    }
  }
  @media screen and (min-width: 73em) { main > article > .hype-container { height: 85vh; } }

/*
 * ========= Plugin: Modal =========
 * (for toggleContentinfo & jquery.paragraphLinks)
 * turns the class that is triggered by JavaScript into a modal screen overlay
 * moves in from botton on click, is visible for screen readers
 */ 
.is-modal {
  position: fixed;
  width: 100%;
  height: 60vh;
  bottom: 40px;
  left: 0;
  margin: 0;
  background-color: #fafafa; /* old IE */
  background-color: rgba(240,240,240,.9);
  border: 1px solid rgba(255,255,255,1);
  box-shadow: 0 0 5px rgba(20,20,20,.6);
  opacity: 0;
  pointer-events: none;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateY(100vh);
          transform: translateY(100vh);
  -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
}
.is-modal-background [role="banner"],
.is-modal-background main,
.is-menu-background [role="banner"],
.is-menu-background main {
  opacity: 0.4;
  -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
}
@media screen and (min-width:  55em) {	
  .is-modal-background header[role="banner"],
  .is-modal-background main,
  .is-menu-background [role="banner"],
  .is-menu-background main {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
}
.is-modal-background .is-modal-active {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translate(0,0);
          transform: translate(0,0);
}

/*
 * ========= Hype UI-Wrapper =========
 * wrap the Hype UI div into a container
 * make the container a fixed position overlay
 * style an animated placeholder for while the UI loads
 */
.ui-container {
  position:fixed;
  left:0;
  bottom: 0;
  height: 320px; /* iphone in portrait determines max-height of Hype-UI*/
  width:100%;
  z-index: 200;
  pointer-events: none; /* necessary for Hype-UI to not block content underneath*/
}
#menu-wrap * {
  /* id set in Hype-UI */
  pointer-events: auto; /* for IE 11 to render clicks on Hype-UI*/
}
#ui-preloader {
  width: 100%;
  position: absolute;
  bottom: 0;
  font-family: "Josefin Sans", "Josefin Sans Fallback", Sans-Serif;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #fafafa; /* old IE */
  background-color: rgba(240,240,240,.95);
  border: 1px solid rgba(255,255,255,.9);
  box-shadow: 0 0 8px rgba(255,255,255,.3), 0 0 5px rgba(20,20,20,.6);
}
  #ui-preloader svg path,
  #ui-preloader svg rect{
    fill: rgba(133,4,8,1);
  }
.preloader{
  height: 100%;
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 0.4em;
  display: inline-block;
  vertical-align: top;
}

/*
 * ========= Browser Warning =========
 * styles the warning text before the header
 * it is only displayed for old browsers, triggered by script
 */
.browser-warning {
  width: 80%;
  font-family: arial, sans-serif;
  color: #000;
  background: #fff;
  text-align: center;
  padding: 5px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #000;
}

/*
 * ========= Gumroad Fixes =========
 * make the programmatically created modal for Gumroad content delivery fit in
 */
.gumroad_overlay_iframe {
  max-height: 100%;
}
.gumroad-button {
  width: calc(100% - 32px); /* subtract width of gumroad-icon */
  height: 100%;
  margin: 0;
}