en/
de/
assets/
images/
test/
/static/32_pxcraft heart.png
/static/64_pxcraft heart.png
/static/apple-touch-icon-57x57.png
/static/apple-touch-icon-60x60.png
/static/apple-touch-icon-72x72.png
/static/apple-touch-icon-76x76.png
/static/apple-touch-icon-114x114.png
/static/apple-touch-icon-120x120.png
/static/apple-touch-icon-144x144.png
/static/apple-touch-icon-152x152.png
/static/apple-touch-icon.png
/static/largetile.png
/static/mediumtile.png
/static/pxcraft.pub-banner.hyperesources
/static/smalltile.png
/static/widetile.png