/* STYLES UNIQUE TO THE PIXELCRAFTBOOKS.COM HOMEPAGE
 * 
 * CONTENT:
 * - helper
 * - page navigation
 * - header design
 * - touch typography segment
 * - main footer
 * - hide -> fade in UI
 * 
 */

/*
 * ========= HELPER =========
 */
a:not([href*="pixelcraftbooks.com"]):not([href^="#"]):not([role="button"])::after {
	/* style properties exclusive to external pages */
	font-family: 'Source Code Pro', monospace;
	color: #850408; /* old IE */
	color: rgba(133,4,8,1);
	letter-spacing: -0.2em;
	margin-right: 0.2em;
	content: '/»';
}
a[href^="https:"]::before {
	/* style properties exclusive to secure pages */
	/*
	font-family: 'Source Code Pro', monospace;
	letter-spacing: -0.2em;
	content: '[s]';
	*/
}
.hype-container {
	background: #eee;
	margin-bottom: 1.5em;
}
.hype-container .caption {
	font-family: "Source Code Pro", monospace;
	text-align: center;
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
	background: rgba(240,240,240,0.3);
	z-index: 1;
}
	@media screen and (min-width: 40em) {	
		.hype-container .caption {
			position: absolute;
			top: 0;
		}
	}
.preload-thumbnail {
	cursor: pointer;
}
main article > section {
	margin-bottom: 4.5em;
}
/*
 *  ========================== PAGE NAVIGATION ==========================
 * 
 */
.imprint-link-wrap {
	float: left;
	text-align: left;
	line-height: 0.8em;
	font-family: 'source code pro', monospace;
	font-variant: small-caps;
	margin: 0.5em;
	padding: 0.4em;
	border-bottom: 1px #ccc solid;
}
	.imprint-link {
		text-decoration: none;
	}
.language-link-wrap {
	float: right;
	text-align: right;
	line-height: 0.8em;
	font-family: 'source code pro', monospace;
	font-variant: small-caps;
	margin: 0.5em;
	padding: 0.4em;
	border-bottom: 1px #ccc solid;
}
	.language-link {
		text-decoration: none;
		opacity: 0.6;
	}
	/* mark the language of the current page */
	.language-link.is-current {
		padding: 2px 4px 2px 4px;
		border: 1px #aaa solid;
		opacity: 1;
	}
	
/*
 *  ========================== HEADER DESIGN ==========================
 *  a pixelcraftbooks-logo in pure CSS3
 */
.logo-wrap {
	text-align: center;
	clear: both;
	margin-bottom: 4.5em;
}
.logo{
	display: inline-block;
	font-family: 'Source Code Pro', monospace;
	font-size: 4.25em;
	line-height: 1.058823528em;
	margin-top: 0.70588235em;
	margin-bottom: 0.35294118em;
	font-weight: 300;
	letter-spacing: normal;
	margin-left: auto;
	margin-right: auto;
	width: auto;
}
.logo::after {
	content: '';
	display: block;
	width: 0.6em;
	height: 0.6em;
	float: right;
	margin-top: 0.2em;
	background: #850408;
	box-shadow:
	 0px 1px 1px #737272,
	-1px 2px 1px #7b7a7a, 
	-2px 3px 1px #8b8a89, 
	-3px 4px 1px #9e9c9c, 
	-4px 5px 1px #b2b1b0, 
	-5px 6px 1px #c6c4c4, 
	-6px 7px 1px #d8d6d5, 
	-7px 8px 1px #e4e3e2;
}
.logo-shadow {
	text-shadow:
	 0px 1px 1px #737272,
	-1px 2px 1px #7b7a7a, 
	-2px 3px 1px #8b8a89, 
	-3px 4px 1px #9e9c9c, 
	-4px 5px 1px #b2b1b0, 
	-5px 6px 1px #c6c4c4, 
	-6px 7px 1px #d8d6d5, 
	-7px 8px 1px #e4e3e2;
}
.logo-tagline {
	float:left;
	font-size: 0.35em;
	line-height: 1em; 
	margin-top: 0.5em;
	margin-left: 8px;;
	color: #aaa;
}

/*
 *  ========================== TOUCH TYPOGRAPHY SEGMENT ==========================
 *  manipulate child elements
 *  TO DO: MAKE TOUCH FRIENDLY
 *
 */
#lead-type {
	font-size: 0.8em;
	text-align: center;
	margin-top: 1.5em;
	margin-bottom: 4.5em;
}
@media screen and (min-width: 55em) {	
	#lead-type {
		font-size: 1.2em;
		margin-top: 4.5em;
	}
}
#lead-type h2 {
	margin-left: 0;
	text-shadow: -2px 1px 0px #aaa;
	-webkit-transform: skewy(-5deg);
	        transform: skewy(-5deg);
}
.gradient-animation {
	position: relative;
}
.gradient-animation:before {
	content: ">";
	display: inline-block;
	font-family: "Source Code Pro", Monospace;
	margin-right: 0.1em;
	text-shadow: none;
	-webkit-transform: skewy(-5deg);
	        transform: skewy(-5deg);
}
.gradient-animation:after {
	content: "|";
	position: absolute;
	top: 0;
	left: 1.2em;
	color: rgba(250,250,250,0);
	text-shadow: 0px -1em 20px #fafafa,
	             0px  0px 20px #fafafa, 
	             0px  1em 20px #fafafa;
	animation: slide 6s infinite linear;
}
@keyframes slide {
	0% {
		left: 1em;
	}
	40% {
		left: 100%;
	}
	100% {
		left: 100%;
	}
}
.touch-animation {
	display: inline-block;
}
#lead-type-disclaimer {
	display: none;
	padding-top: 1em;
	animation: disclaimer-fade-in 1s 1 ease-out;
}
@keyframes disclaimer-fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}	
.touch-animation:hover,
.touch-animation:active {
	-webkit-transform: translate(0, -5px);
	   -moz-transform: translate(0, -5px);
	        transform: translate(0, -5px);
}

.touch-animation:first-child { 
	position:relative; top: 0.1em; left: 0; font-size: 2em;
}
.touch-animation:nth-child(7) { 
	position:relative; top: 0.1em; left: 0; font-size: 2em;
}
.touch-animation:nth-child(10) { 
	position:relative; top: 0.1em; left: 0; font-size: 2em;
}

/*
* ========= HIDE -> FADE IN UI MENU =========
* hide on page load, wait for waypoint-javascript to toggle
*/

/* hide on page load */
	#ui-heart {
	display: none;
	width: 50px;
	height: 50px;
	left: calc(50% - 25px);
	top: -44px;
	/* opacity: 0.1; */
	animation: ui-heart-shrink 3.5s 1 ease-out;
}
#ui-container {
	display: none;
}
@keyframes ui-heart-shrink {
	0% {
		opacity: 1;
		width: 200px;
		height: 200px;
		left: calc(50% - 100px);
		top: -220px;
	}
	80% {
		opacity: 1;
		width: 200px;
		height: 200px;
		left: calc(50% - 100px);
		top: -220px;
	}
	90% {
		opacity: 1;
	}
	100% {
		/* opacity: 0.1; */
		width: 50px;
		height: 50px;
		top: -44px;
	}
}

/* appendix */
.appendix {
}
.appendix .portrait {
	max-height: 9em;
	padding:0.5em;
	margin-bottom: 1.5em;
	background: #ddd;
	border-radius:6px;
	box-shadow:0px 2px 3px #333;
}
.appendix .nav {
	text-align: center;
	font-family: "Source Code Pro", Monospace;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	border-top: 1px #ccc dotted; /* old IE */
	border-top: 1px rgba(204,204,204,1) dotted;
	border-bottom: 1px #ccc dotted; /* old IE */
	border-bottom: 1px rgba(204,204,204,1) dotted;
	margin-top: 1.5em;
	margin-bottom: calc(1.5em - 2px);
}
.appendix .nav span {
	display: block;
}
.appendix .nav span:before {
	content: "-> ";
	color: #850408;
}

#imprint {
	text-align: justify;
	color: #050505; /* old IE */
	color: rgba(5,5,5,1);
	padding-bottom: 3em;
	margin: 0;
	width: 100%;
}
#imprint ul,
#imprint p {
	text-indent: 0;
}
#imprint ul li::before {
	content: none; /* disable standard list behavior from layout.css */
}